.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
}

.author {
  width: 100%;
  visibility: hidden;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.box {
  position: relative;
}

.box:hover .author {
    visibility: visible;
    background-color: grey;
    /* z-index: 99; */
}

.box-style-0 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.box-style-1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.box-style-2 {
  grid-column-end: span 1;
  grid-row-end: span 1;
}
